h3{
    margin-left: 80px;
    margin-top: 30px;
}


.job-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0px 20px;
  justify-content: center;
  
}

.description-text{
  font-size: 16px;
}

.job-card{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 1rem;
  background-color: #eef4e9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #222;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}
.job-card:hover {
  background-color: #f9f9f9;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}  


.skill-tag{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 12px;
    margin:2px;
    font-size: 14px;
    background-color: #243546;
    border-radius: 13px;
    color: #E9f4e0;
}

.link{
  color: #243546;
  text-decoration: underline;
}